@use "../vars.scss";

.card {
  &__preview {
    position: relative;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    aspect-ratio: 30/22;

    @include vars.from('sm') {
      aspect-ratio: 43/25;
      border-radius: 32px 32px 0 0;
    }
  }

  &__tag {
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 1;
    padding: 4px 11px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    border-radius: 50px;
    background-color: vars.$cl-white;

    @include vars.from('md') {
      top: 18px;
      left: 14px;
      padding: 5px 10px;
      font-size: 14px;
    }

    &--blue {
      color: vars.$cl-blue;

    }

    &--green {
      color: vars.$cl-green;

    }
  }

  &__pic {
    height: 100%;
    object-fit: cover;
  }

  &__descr {
    position: relative;
    margin-top: -40px;
    padding: 8px;
    background-color: vars.$cl-white;
    border: 1px solid vars.$cl-border;
    border-radius: 20px;

    @include vars.from('md') {
      padding: 16px;
      border-radius: 32px;
    }
  }

  &__position {
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    @include vars.from('md') {
      font-size: 20px;
    }
  }

  &__text {
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: vars.$cl-grey;

    @include vars.from('md') {
      margin-bottom: 18px;
      font-size: 16px;
    }

    &--blog {
      margin-bottom: 0;

      @include vars.from('md') {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    margin-bottom: 24px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    // column-gap: 30px;
    row-gap: 5px;

    @include vars.from('md') {
      margin-bottom: 56px;
    }
  }

  &__info-item {
    position: relative;

    &+& {
      padding-left: 30px;
    }

    &+&::before {
      content: "";
      position: absolute;
      top: 0;
      left: 14px;
      width: 1px;
      height: 100%;
      background-color: vars.$cl-grey;
    }
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__btn {
    padding: 0px 12px;
    border-radius: 32px;
    background-color: vars.$cl-yellow;
    font-weight: 600;
    font-size: 12px;
    color: vars.$cl-black;
    text-align: center;

    @include vars.from('md') {
      padding: 8px 16px;
      font-size: 14px;
    }

    &:hover {
      color: vars.$cl-yellow;
      background-color: vars.$cl-black;
      box-shadow: vars.$btn-shadow;
    }
  }
}

.card-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;

  &__icon {
    width: 8px;
    flex-shrink: 0;

    @include vars.from('md') {
      width: 12px;
    }
  }

  &__name {
    flex-shrink: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: vars.$cl-grey;

    @include vars.from('md') {
      font-size: 14px;
    }
  }
}

.card-info {
  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 7px;
    align-items: center;

  }

  &__icon {
    max-width: 20px;
    max-height: 16px;
    flex-shrink: 0;
  }

  &__name {
    flex-shrink: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: vars.$cl-dark-80;

    @include vars.from('md') {
      font-size: 14px;
    }
  }
}

.card-price {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2px;

  &__actuall {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: vars.$cl-black;

    @include vars.from('md') {
      font-size: 24px;
    }
  }

  &__info {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: vars.$cl-grey;
  }

  &__btn {
    padding: 7px 10px;
    border-radius: 32px;
    background: vars.$cl-yellow;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: center;

    &:hover {
      background-color: vars.$cl-black;
      color: vars.$cl-yellow;
    }
  }
}