@use "../vars.scss";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: none;
  &--open{
    display: none;
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: vars.$cl-black;
    opacity: 0.5;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    // min-height: 500px;
    max-height: 100vh;
    padding: 32px 16px 0;
    border-radius: 20px 20px 0 0;
    box-shadow: vars.$modal-shadow;
    background-color: vars.$cl-white;

    @include vars.from('sm') {
      top: 50%;
      bottom: unset;
      left: 50%;
      right: unset;
      transform: translate(-50%, -50%);
      max-width: 570px;
      padding: 32px;
      border-radius: 20px;
    }

    @include vars.from('md') {
      min-height: unset;
    }
  }

  &__close {
    position: absolute;
    top: -16px;
    right: 16px;
    padding: 12px;
    background-color: vars.$cl-input-bg;
    border-radius: 8px;
    line-height: 0;

    &:hover {
      background-color: vars.$cl-grey;
      img{
        filter: invert(1);
      }
    }

    @include vars.from('md') {
      top: 16px;
    }
  }

  &__logo{
    display: none;
    @include vars.from('md') {
      display: block;
      margin: 0 auto 20px;
      width: 200px;
      line-height: 0;
    }
  }

  &__tabs{
    margin-bottom: 18px;
  }
}

.modal-form {
  min-height: 420px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  @include vars.from('md') {
    min-height: unset;
  }
  &--hidden{
    display: none;
  }
  &__item {
    width: 100%;
    &--repeat{
      text-align: end;
    }
  }

  &__label {
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
    font-size: 16px;
  }

  &__forget {
    margin-top: 8px;
    margin-left: auto;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: vars.$cl-blue;

    &:hover {
      color: vars.$cl-black
    }
  }

  &__footer {
    margin-top: auto;
    padding: 16px;
    width: 100%;
    border-top: 1px solid vars.$cl-border;
    text-align: center;

    @include vars.from('md') {
      padding: 0;
      border-top: none;
    }
    
  }

  &__btn {
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: vars.$cl-blue;
    &:hover{
      filter: brightness(0.8);
    }
  }
  &__submit {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: vars.$cl-white;
    background-color: vars.$cl-blue;
    border: 1px solid vars.$cl-blue;
    border-radius: 12px;
    @include vars.from('md') {
      max-width: 200px;
    }

    &:hover:not([disabled]) {
      color: vars.$cl-blue;
      background-color: vars.$cl-white;
      box-shadow: vars.$btn-shadow;
    }

    &:disabled {
      color: vars.$cl-grey;
      border-color: vars.$cl-light-grey;
      background-color: vars.$cl-light-grey;
      cursor: auto;
    }
  }

  &__text{
    font-size: 16px;
    line-height: 1.25;
  }
}

.modal-tabs{
  padding: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: vars.$cl-light-grey;
  background-color: vars.$cl-tab;
  border-radius: 12px;
  &__btn{
    flex: 1 0 50%;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    &--active{
      color: vars.$cl-blue;
      background-color: vars.$cl-white;
    }
    &:hover{
      color: vars.$cl-blue;
    }
  }
  &__item{
    display: none;
    &--open{
      display: block;
    }
  }
}