@use "../vars.scss";

.article-item-content {
  &__breadcrumbs {
    margin-bottom: 22px;
  }

  h1 {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;

    @include vars.from('md') {
      font-size: 48px;
      margin-bottom: 28px;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;

    @include vars.from('md') {
      margin-bottom: 25px;
      font-size: 24px;
    }
  }

  h3,
  h4 {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    @include vars.from('md') {
      margin-bottom: 20px;
      font-size: 22px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: vars.$cl-grey;

    @include vars.from('md') {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }

  img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 730px;

  &__item {
    font-size: 12px;
    color: vars.$cl-grey;

    &--link {
      color: vars.$cl-grey;

      &:hover {
        color: vars.$cl-blue;
      }
    }

    &--title {
      display: none;

      @include vars.from('md') {
        display: block;
      }
    }
  }

  &__icon {
    width: 8px;
    fill: currentColor;
  }
}