@use "../vars.scss";

.blog-list {
  margin-bottom: 40px;

  &__header {
    margin-bottom: 12px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

    @include vars.from('md') {
      margin-bottom: 24px;
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20px;

    }
  }

  &__title {
    flex-grow: 1;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;

    @include vars.from('md') {
      font-size: 36px;
    }

    &--link {
      color: vars.$cl-black;
    }
  }

  &__title-arrow {
    display: inline-block;
    margin-left: 8px;
    width: 8px;
    vertical-align: middle;
    fill: currentColor;
  }


  &__all {
    display: none;

    @include vars.from('md') {
      display: block;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.01em;
      color: vars.$cl-blue;

      font-size: 16px;
    }

    &:hover {
      color: vars.$cl-black;
    }
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 12px;

    @include vars.from('md') {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 42px;
    }

    .card {
      flex-shrink: 0;
      max-width: 90%;

      @include vars.from('md') {
        max-width: unset;
      }
    }
  }
}