
.detail-aside {
  display: none;

  @include vars.from('md') {
    padding: 24px;
    border: 1px solid vars.$cl-border;
    border-radius: 20px;
    box-shadow: 0 0 0 1px #ecedf0, 0 8px 24px 0 rgba(89, 102, 132, 0.06);
  }
}
