@use '../vars.scss';

@mixin bordered-block {
  border-bottom: 1px solid vars.$cl-border;
}

@mixin detail-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  @include vars.from('md') {
    font-size: 24px;
  }
}

.detail-descr {
  max-width: 804px;

  &__info {
    margin-bottom: 54px;

    @include vars.from('md') {
      margin-bottom: 24px;
    }
  }

  &__params {
    margin-bottom: 28px;
  }

  &__pluses {
    margin-bottom: 28px;
  }

  &__articles {
    margin-bottom: 28px;
  }

  &__meet {
    margin-bottom: 28px;
  }

  &__meet,
  &__about,
  &__adventures {
    display: none;

  }
}

.detail-info {
  @include vars.from('md') {
    padding-bottom: 20px;
    @include bordered-block;
  }

  &__position {
    margin-bottom: 16px;

    @include vars.from('md') {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
  }
}

.detail-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;

  &__icon {
    width: 12px;
    flex-shrink: 0;
  }

  &__name {
    flex-shrink: 0;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: vars.$cl-grey;

  }
}

.detail-text {
  p:nth-child(n+2) {
    display: none;
  }

  &--more {
    p:nth-child(1) {
      display: none;
    }

    p:nth-child(n + 2) {
      display: block;
    }
  }

  &__more {
    display: inline;
    color: vars.$cl-blue;

    &:hover {
      filter: brightness(.8);
    }
  }

  p {
    font-size: 16px;
    color: vars.$cl-grey;
  }
}


.detail-params {
  padding-bottom: 28px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  @include bordered-block;

  @include vars.from('md') {
    flex-wrap: wrap;
    max-height: 200px;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;

    @include vars.from('md') {
      width: calc(50% - 10px);
    }
  }

  &__icon {
    width: 22px;
    flex-shrink: 0;
  }

  &__name {
    font-size: 16px;
    line-height: 1.3;
    color: vars.$cl-dark-80;
  }
}

.detail-pluses {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
  padding-bottom: 28px;
  @include bordered-block;

  @include vars.from('md') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__column {
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    @include detail-title;
  }

  &__item {
    &+& {
      margin-top: 20px;
    }
  }
}

.detail-plus {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  &__icon {
    width: 18px;
    flex-shrink: 0;
  }

  &__name {
    font-size: 16px;
    line-height: 1.3;
    color: vars.$cl-dark-80;
  }
}

.detail-articles {
  padding-bottom: 43px;
  @include bordered-block;

  &__title {
    margin: 0;
    margin-bottom: 16px;
    @include detail-title;
  }

  &__item {
    &+& {
      margin-top: 24px;
    }

    @include vars.from('md') {
      max-width: 570px;
    }
  }
}

.detail-article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  &__pic {
    width: 80px;
    flex-shrink: 0;
    aspect-ratio: 1;
    border-radius: 16px;
    object-fit: cover;

    @include vars.from('md') {
      width: 96px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.3;
    color: vars.$cl-grey;

  }
}

// .deta

.detail-aside {
  display: none;

  @include vars.from('md') {
    padding: 24px;
    border: 1px solid vars.$cl-border;
    border-radius: 20px;
    box-shadow: 0 0 0 1px #ecedf0, 0 8px 24px 0 rgba(89, 102, 132, 0.06);
  }
}