@use '../vars.scss';

$detail-gap: 28px;

@mixin bordered-block {
  margin-bottom: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid vars.$cl-border;

  @include vars.from('md') {
    margin-bottom: 25px;
    padding-bottom: 20px;

  }
}

@mixin detail-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  @include vars.from('md') {
    font-size: 24px;
  }
}

.detail-descr {
  max-width: 804px;

  &__info {
    margin-bottom: 54px;

    @include vars.from('md') {
      margin-bottom: 24px;
    }
  }

  &__included {
    margin-bottom: 34px;

    @include vars.from('md') {
      margin-bottom: 76px;
    }
  }

  &__adventures {
    margin-bottom: 30px;

    @include vars.from('md') {
      margin-bottom: 116px;
    }
  }
}

.detail-info {
  @include vars.from('md') {
    padding-bottom: 20px;
    @include bordered-block;
  }

  &__position {
    margin-bottom: 16px;

    @include vars.from('md') {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }
}

.detail-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;

  &__icon {
    width: 12px;
    flex-shrink: 0;
  }

  &__name {
    flex-shrink: 0;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: vars.$cl-grey;

  }
}

.detail-text {
  p:nth-child(n+2) {
    display: none;
  }

  &--more {
    p:nth-child(1) {
      display: none;
    }

    p:nth-child(n + 2) {
      display: block;
    }
  }

  &__more {
    display: inline;
    color: vars.$cl-blue;

    &:hover {
      filter: brightness(.8);
    }
  }

  p {
    margin-bottom: 20px;
    font-size: 16px;
    color: vars.$cl-grey;
    &:has(.detail-text__more),
    &:last-child{
      margin-bottom: 0px;
    }
  }
}


.detail-params {
  padding-bottom: 28px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  @include bordered-block;

  @include vars.from('md') {
    flex-wrap: wrap;
    max-height: 200px;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;

    @include vars.from('md') {
      width: calc(50% - 10px);
    }
  }

  &__icon {
    width: 22px;
    flex-shrink: 0;
  }

  &__name {
    font-size: 16px;
    line-height: 1.3;
    color: vars.$cl-dark-80;
  }
}

.detail-pluses {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
  padding-bottom: 28px;
  @include bordered-block;

  @include vars.from('md') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__column {
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    @include detail-title;
  }

  &__item {
    &+& {
      margin-top: 20px;
    }
  }
}

.detail-plus {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  &__icon {
    width: 18px;
    flex-shrink: 0;
  }

  &__name {
    font-size: 16px;
    line-height: 1.3;
    color: vars.$cl-dark-80;
  }
}

.detail-articles {
  padding-bottom: 43px;
  @include bordered-block;

  &__title {
    margin: 0;
    margin-bottom: 16px;
    @include detail-title;
  }

  &__item {
    &+& {
      margin-top: 24px;
    }

    @include vars.from('md') {
      max-width: 570px;
    }
  }
}

.detail-article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  &__pic {
    width: 80px;
    flex-shrink: 0;
    aspect-ratio: 1;
    border-radius: 16px;
    object-fit: cover;

    @include vars.from('md') {
      width: 96px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.3;
    color: vars.$cl-grey;

  }
}

.detail-meet {
  @include bordered-block;

  &__title {
    margin-bottom: 12px;
    @include detail-title;
  }

  &__info {
    margin-bottom: 8px;
    font-size: 16px;
    color: vars.$cl-grey;
  }

  &__place {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;

    @include vars.from('md') {
      margin-bottom: 20px;
    }
  }

  &__map {
    aspect-ratio: 1;
    border-radius: 24px;
    overflow: hidden;

    @include vars.from('sm') {
      aspect-ratio: 800/350;
    }
  }

  &__iframe {
    width: 100%;
    height: 100%;
    display: none;

    @include vars.from('sm') {
      display: block;
    }

    &--m {
      display: block;

      @include vars.from('sm') {
        display: none;
      }
    }
  }
}

.detail-included {
  &__title {
    margin-bottom: 22px;
    @include detail-title;
  }

  &__item {
    &+& {
      margin-top: 16px;
    }
  }
}

.detail-includes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;

  &__icon {
    width: 18px;
    flex-shrink: 0;
  }

  &__name {
    font-size: 16px;
    line-height: 1.3;
    color: vars.$cl-dark-80;
  }
}

.detail-adventures {
  position: relative;
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
  }
  &__slider{
    position: relative;
  }
  &__list{
    @include vars.from('md') {
      overflow: hidden;
      padding-right: 70px;
    }
    @include vars.from('md') {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 5;
        width: 70px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-image: vars.$gradient-white;
        transition: vars.$transition;
      }
    }
  }
  &__btn{
    display: none;
    @include vars.from('md') {
      display: block;
      position: absolute;
      z-index: 5;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      line-height: 0;
      border-radius: 50%;
      border: 1px solid vars.$cl-border;
    }
    &:hover{
      box-shadow: vars.$btn-shadow;
    }
    &--prev{
      left: -20px;
    }
    &--next{
      right: -20px;
    }
    &.swiper-button-disabled{
      opacity: 0;
      visibility: hidden;
    }
  }
}