@use '../vars.scss';

.footer {

  &__nav {
    margin-bottom: 30px;
  }

}

.footer-top {
  padding-top: 16px;
  padding-bottom: 30px;

  @include vars.from('md') {
    padding-bottom: 20px;
  }

  &__brand {
    margin-bottom: 5px;
    width: 75px;

    @include vars.from('md') {
      margin-bottom: 10px;
    }
  }

  &__nav {
    margin-bottom: 25px;

    @include vars.from('md') {
      margin-bottom: 0px;
    }
  }

  &__content {
    @include vars.from('md') {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

    }
  }
}

.footer-top-nav {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;

    @include vars.from('md') {
      gap: 30px;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &__link {
    font-weight: 400;
    font-size: 12px;
    color: vars.$cl-blue;

    &:hover {
      color: vars.$cl-light-dark;
    }
  }
}

.footer-top-social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @include vars.from('md') {
    gap: 10px;
  }

  &__link {
    width: 30px;
    text-decoration: none;
    line-height: 1;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.footer-bottom {
  position: relative;
  padding-top: 16px;
  padding-bottom: 40px;
  background-color: vars.$cl-light-grey;

  @include vars.from('md') {
    padding-top: 44px;
    padding-bottom: 14px;
  }

  &__bg {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: 180px;
    line-height: 1;

    @include vars.from('md') {
      width: 88%;
      max-width: 1254px;
    }

    &--m {
      display: block;

      @include vars.from('md') {
        display: none;
      }
    }

    &--d {
      display: none;

      @include vars.from('md') {
        display: block;
      }
    }
  }

  &__container {
    position: relative;
  }

  &__signin {
    width: fit-content;
    border-radius: 4px;
    padding: 6px 10px;
    box-shadow: vars.$btn-shadow;
    background: vars.$cl-white;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: center;
    color: vars.$cl-light-dark;
    transition: vars.$transition;

    &:hover {
      color: vars.$cl-white;
      background-color: vars.$cl-light-dark;
      box-shadow: none;
    }

    @include vars.from('md') {
      padding: 7px 15px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column-reverse nowrap;
    gap: 35px;
    margin-bottom: 38px;

    @include vars.from('md') {
      flex-flow: row nowrap;
      align-items: flex-start;
      gap: 140px;
      margin-bottom: 55px;
    }
  }

  &__mistake {
    margin-bottom: 68px;

    @include vars.from('md') {
      margin-bottom: 45px;
    }
  }

  &__copy {
    max-width: 250px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #bdbdbd;

    @include vars.from('md') {
      max-width: unset;
    }
  }
}

.footer-bottom-nav {
  padding-left: 10px;

  @include vars.from('md') {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 0;
  }

  &__item {
    max-width: 185px;

    @include vars.from('md') {
      flex-grow: 1;
    }

    &+& {
      @include vars.until('md') {
        margin-top: 40px;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: vars.$cl-light-dark;
    text-align: start;
  }

  &__list {}

  &__list-item {
    line-height: 1;

    &+& {
      margin-top: 8px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 12px;
    color: vars.$cl-light-dark;

    &:hover {
      color: vars.$cl-blue;
    }
  }
}

.footer-mistake {
  text-align: center;

  @include vars.from('md') {
    width: fit-content;
    text-align: start;
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    color: vars.$cl-light-dark;
    line-height: 1;

    @include vars.from('md') {
      margin-bottom: 10px;
    }
  }

  &__btn {
    padding: 10px 50px;
    background: vars.$cl-light-dark;
    transition: vars.$transition;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    color: vars.$cl-white;

    @include vars.from('md') {
      padding: 12px 44px;
    }

    &:hover {
      color: vars.$cl-light-dark;
      background: vars.$cl-white;
      box-shadow: vars.$btn-shadow;

    }
  }
}