@use '../vars.scss';

.footer-top{
  padding-bottom: 24px;
  border-bottom: 1px solid vars.$cl-border;
  @include vars.from('md') {
    padding-bottom: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__info{
    margin-bottom: 18px;
    @include vars.from('md') {
      margin-bottom: 0;
    }
  }
  &__nav{
    margin-bottom: 30px;
    @include vars.from('md') {
      margin-bottom: 0px;
    }
  }
}

.footer-info{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  @include vars.until('md') {
    padding-bottom: 16px;
    border-bottom: 1px solid vars.$cl-border;
  }
  @include vars.from('md') {
    display: block;
  }
  &__descr{
    max-width: 154px;
    @include vars.from('sm') {
      margin-bottom: 28px;
      max-width: unset;
    }
  }
  &__logo{
    display: block;
    margin-bottom: 2px;
    width: 154px;
  }
  &__slogan{
    color: vars.$cl-dark-80;
    font-size: 14px;
    line-height: 20px;
  }
  &__signin{
    width: fit-content;
    border-radius: 4px;
    padding: 6px 10px;
    box-shadow: vars.$btn-shadow;
    background: vars.$cl-white;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: center;
    color: vars.$cl-light-dark;
    transition: vars.$transition;

    &:hover {
      color: vars.$cl-white;
      background-color: vars.$cl-light-dark;
      box-shadow: none;
    }

    @include vars.from('md') {
      padding: 7px 15px;
    }
  }
}

.footer-nav{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  @include vars.from('sm') {
    justify-content: center;
    flex-flow: row;
    gap: 70px;
  }
  @include vars.from('md') {
    justify-content: flex-start;
  }
  &__part{
  @include vars.from('md') {
    padding-top: 4px;
  }
  }
  &__title{
    margin-bottom: 14px;
    color: vars.$cl-blue;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__list{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    @include vars.from('md') {
      flex-wrap: wrap;
      max-height: 130px;
      column-gap: 36px;
    }
  }
  &__item{
    & + &{
    }
  }
  &__link{
    font-weight: 400;
    font-size: 16px;
    color: vars.$cl-light-dark;

    &:hover {
      color: vars.$cl-blue;
    }
  }
}

.footer-bottom{
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  @include vars.from('md') {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
  }
  &__payments{

  }
  &__copy {
    max-width: 260px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: vars.$cl-grey;

    @include vars.from('md') {
      margin: 0;
      max-width: unset;
    }
  }
}

.footer-social{
  &__title{
    margin-bottom: 20px;
    text-align: center;
    color: vars.$cl-dark-80;
    @include vars.from('md') {
      margin-bottom: 16px;
      text-align: start;
    }
  }
  &__list{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include vars.from('md') {
      justify-content: flex-start;
    }
  }
  &__link {
    width: 32px;
    text-decoration: none;
    line-height: 1;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.footer-payments{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 18px;
  &__item{
    height: 22px;
    img{
      height: 100%;
      width: auto;
    }
  }
}