@use "../vars.scss";

.hero-slider {
  margin-bottom: 40px;
  &__btn {
    width: 40px;
    box-shadow: vars.$btn-shadow;

    @include vars.from('md') {}
  }
  &__pagination{
  }
}

.hero-item {
  padding: 30px 0;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  background-color: vars.$cl-light-dark;
  border-radius: 20px;

  @include vars.from('md') {
    height: 390px;
    padding: 0px 50px;
    flex-flow: row nowrap;
    gap: 50px;
    align-items: center;
  }

  &__descr {
    padding: 0 16px;
    @include vars.from('md') {
      flex-grow: 1;
      max-width: 730px;
      padding: 0;
      padding-top: 80px;
      padding-bottom: 40px;
      height: 100%;
      align-self: flex-end;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: vars.$cl-yellow;
    @include vars.from('md') {
      margin-bottom: 0;
      font-size: 40px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: vars.$cl-light-grey;

    @include vars.from('md') {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    color: vars.$cl-black;
    background-color: vars.$cl-light-grey;
    border-radius: 20px;
    &:hover{
      color: vars.$cl-light-grey;
      background-color: vars.$cl-black;
      box-shadow: vars.$btn-shadow;
    }
    @include vars.from('md') {
      margin: 0;
      margin-top: auto;
      padding: 10px 50px;
      font-size: 15px;
    }
  }

  &__preview {
    width: 100%;
    display: none;
    line-height: 0;
    @include vars.from('md') {
      display: block;
      width: auto;
      height: 100%;
      max-width: 340px;
      img{
        height: 100%;
      }
    }

    &--mobile {
      display: block;

      @include vars.from('md') {
        display: none;
      }
    }
  }
}