@use "../vars.scss";

.stories-list {

  // 
  &__list {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    overflow: hidden;
    @include vars.from('md') {
      margin-bottom: 15px;

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70px;
        height: 100%;
        background: vars.$gradient-white;
        transition: vars.$transition;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        bottom: 0;
        width: 70px;
        height: 100%;
        background: vars.$gradient-white;
        transform: rotate(180deg);
        transition: vars.$transition;
        opacity: 0;
      }
      &--start {
        &::before{
          opacity: 1;
        }
      }

      &--end {
        &::after {
          opacity: 0;
        }
      }
    }
  }

  &__item {
    &--start {
      @include vars.until('md') {
        display: none !important;
      }
    }
  }
}

.stories-item {
  position: relative;
  max-height: 510px;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  aspect-ratio: 340/510;
  border-radius: 20px;
  overflow: hidden;

  @include vars.from('md') {
    aspect-ratio: 380/510;
  }

  &--start {
    justify-content: flex-start;
    gap: 16px;
  }

  &__preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(21, 45, 78, 1);
      opacity: 0.4;
    }

    &--start {
      background-color: #FDF1EA;

      &::after {
        content: none;
      }
    }
  }

  &__pic {
    height: 100%;
    object-fit: cover;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 44px;

    &:hover {
      width: 60px;
    }
  }

  &__descr {

    position: relative;
    z-index: 1;
  }

  &__tag {
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: vars.$cl-white;

    &--start {
      color: vars.$cl-orange;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: vars.$cl-white;

    &--start {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.3;
      color: vars.$cl-black;
    }
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}

.stories-author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;

  &__photo {
    width: 32px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__name {
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: vars.$cl-white;
  }
}

.stories-list-controls{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include vars.from('md') {
    justify-content: center;
  }
  &__pagination{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  &__bullet{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: vars.$cl-light-grey;
    @include vars.from('md') {
      width: 12px;
      height: 12px;
    }
    &--active{
      background-color: vars.$cl-black;
    }
  }
  &__btn{
    flex-shrink: 0;
    width: 40px;
    line-height: 0;
    border-radius: 50%;
    box-shadow: vars.$btn-shadow;
    @include vars.from('md') {
      position: absolute;
      top: -295px;
      z-index: 5;
      &--prev{
        left: -20px;
      }
      &--next{
        right: -20px;
      }
    }
    &.swiper-button-disabled{
      opacity: 0;
      visibility: hidden;
    }
  }
}