@use "../vars.scss";

.stories-list {
  &__list{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: -71px;
      bottom: 0;
      width: 140px;
      height: 100%;
      background: vars.$gradient-white;
    }
  }
}

.stories-item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  aspect-ratio: 340/510;
  border-radius: 20px;
  overflow: hidden;

  &--start {
    justify-content: flex-start;
  }

  &__preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(21, 45, 78, 1);
    }

    &--start {
      background-color: #FDF1EA;

      &::after {
        content: none;
      }
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 44px;
  }

  &__tag {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: vars.$cl-white;

    &--start {
      color: vars.$cl-orange;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: vars.$cl-white;

    &--start {
      color: vars.$cl-black;
    }
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}

.stories-author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;

  &__photo {
    width: 32px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__name {
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: vars.$cl-white;
  }
}