@use "../vars.scss";

.trip-list {
  margin-bottom: 24px;
  overflow: hidden;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__container{
    position: relative;
  }

  &__controls {
    display: none;
    @include vars.from('md') {
      display: block;
    }
  }
  
  &__btn {
    display: none;
    width: 40px;
    box-shadow: vars.$btn-shadow;
    aspect-ratio: 1;
    line-height: 0;
    border-radius: 50%;
    &.swiper-button-disabled{
      opacity: 0;
      pointer-events: none;
    }
    @include vars.from('md') {
      display: block;;
      position: absolute;
      top: 40px;
      z-index: 10;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 6px;
      &--prev{
        left: -20px;
      }
      &--next{
        right: -20px;
      }
    }
  }

  &__title {
    flex-grow: 1;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    color: vars.$cl-black;

    @include vars.from('sm') {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }

  &__list {
    position: relative;
    @include vars.from('md') {
      overflow: hidden;
    }

    &::before {
      @include vars.from('md') {
        content: "";
        transition: opacity vars.$transition;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 5;
        width: 70px;
        height: 100%;
        transform: rotate(180deg);
        background-repeat: no-repeat;
        background-position: left top;
        background-image: vars.$gradient-white;
        pointer-events: none;
      }
    }

    &--start {
      &::before {
        @include vars.from('md') {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    &--end {
      &::after {
        opacity: 0;
        pointer-events: none;
      }
    }

    &::after {
      @include vars.from('md') {

        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 5;
        width: 70px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-image: vars.$gradient-white;
        transition: vars.$transition;
      }
    }
  }

}

.trip-item {
  position: relative;
  cursor: pointer;
  &:has(.trip-item__btn:focus-visible),
  &:hover {
    .trip-item__name {
      color: vars.$cl-blue;
    }

    .trip-item__icon {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }

  &__preview {
    position: relative;
    margin-bottom: 4px;
    aspect-ratio: 110/84;
    border-radius: 20px;
    overflow: hidden;

    @include vars.from('sm') {
      margin-bottom: 12px;
      border-radius: 8px;
      aspect-ratio: 160/120;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(21, 45, 78, 0.4);
    }
  }

  &__pic {
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    transition: vars.$transition;

    @include vars.from('sm') {
      width: 40px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
  }

  &__name {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: vars.$cl-black;

    @include vars.from('sm') {
      font-size: 18px;
    }
  }
}