@use "../vars.scss";

.trip-categories {
  &__header {
    margin-bottom: 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @include vars.from('md') {
      margin-bottom: 24px;
    }
  }

  &__controls {
    display: none;

    @include vars.from('md') {
      margin-right: -20px;
      flex-shrink: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 6px;
    }
  }

  &__btn {
    width: 40px;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid vars.$cl-border;

    &:hover {
      box-shadow: vars.$btn-shadow;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__title {
    flex-grow: 1;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    @include vars.from('md') {
      font-size: 36px;
    }

    &--link {
      color: vars.$cl-black;

      &:hover {
        color: vars.$cl-blue;
      }
    }
  }

  &__title-icon {
    display: inline-block;
    width: 16px;
    margin-right: 4px;
    vertical-align: middle;
  }

  &__title-arrow {
    display: inline-block;
    margin-left: 8px;
    width: 8px;
    vertical-align: middle;
    fill: currentColor;
  }

  &__list {

    @include vars.from('md') {
      padding-bottom: 2px;
      overflow: hidden;
    }
    .swiper-wrapper{
      align-items: stretch;
    }
  }

}