@use "../vars.scss";

.trip-list {
  &__title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 26px;

    color: vars.$cl-black;

    @include vars.from('sm') {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
}

.trip-item {
  position: relative;
  cursor: pointer;

  &:hover {
    .trip-item__name {
      color: vars.$cl-blue;
    }

    .trip-item__icon {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }

  &__preview {
    position: relative;
    margin-bottom: 4px;
    aspect-ratio: 110/84;
    border-radius: 20px;
    overflow: hidden;

    @include vars.from('sm') {
      margin-bottom: 12px;
      border-radius: 8px;
      aspect-ratio: 160/120;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(21, 45, 78, 0.4);
    }
  }

  &__pic {
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    transition: vars.$transition;

    @include vars.from('sm') {
      width: 40px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
  }

  &__name {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: vars.$cl-black;

    @include vars.from('sm') {
      font-size: 18px;
    }
  }
}