@use "../vars.scss";

.catalog-page {
  &__filter{
    display: none;
    @include vars.from('md') {
      display: block;
      margin-bottom: 30px;
    }
  }

  &__items {
    margin-bottom: vars.$page-section-gap;
  }

  &__blog {
    margin-bottom: vars.$page-section-gap;
  }

  &__list {
    margin-bottom: vars.$page-section-gap;
    display: grid;
    grid-template-columns: 1fr;
    gap: vars.$list-gap-m;

    @include vars.from('sm') {
      grid-template-columns: repeat(2, 1fr);
      gap: vars.$list-gap;
    }
    
    @include vars.from('md') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  &__stories{
    min-width: 0;
    @include vars.from('sm') {
      grid-column-start: span 2;
    }
    @include vars.from('md') {
      grid-column-start: span 3;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: vars.$cl-black;
    text-align: center;
    border-radius: 30px;
    background-color: vars.$cl-tab;

    &:hover {
      color: vars.$cl-white;
      background-color: vars.$cl-blue;
    }
  }
}

.catalog-filter{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  &__select{
    appearance: none;
    padding: 14px 16px;
    padding-right: 42px;
    font-weight: 400;
    font-size: 15px;
    line-height: 116%;
    // text-align: center;
    color: #0b0a13;
    border-radius: 24px;
    border: none;
    box-shadow: 0 0 0 1px rgba(10, 10, 13, 0.03), 0 2px 7px 0 rgba(2, 16, 57, 0.05);
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.60233 6.94264C3.96144 6.57446 4.54367 6.57446 4.90277 6.94264L9.99968 12.1683L15.0966 6.94264C15.4557 6.57446 16.0379 6.57446 16.397 6.94264C16.7561 7.3108 16.7561 7.90773 16.397 8.27589L10.6499 14.1682C10.2908 14.5363 9.70857 14.5363 9.34947 14.1682L3.60233 8.27589C3.24323 7.90773 3.24323 7.3108 3.60233 6.94264Z' fill='%230B0A13'/%3E%3C/svg%3E%0A");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    transition: vars.$transition;
    cursor: pointer;
    &:active{
      outline: none;
      box-shadow: vars.$btn-shadow;
    }
  }
}

.catalog-mobile-filter-open{
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 5;
  transform: translateX(-50%);
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: vars.$cl-black;
  color: vars.$cl-white;
  font-size: 16px;
  line-height: 1;
  border-radius: 24px;
  &:hover{
    background-color: vars.$cl-dark-80;
  }
  @include vars.from('md') {
    display: none;
  }
  &--filled{
    .catalog-mobile-filter-open__status{
      display: block;
    }
  }
  &__icon{
    flex-shrink: 0;
    width: 18px;
  }
  &__status{
    display: none;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid vars.$cl-white;
    background-color: vars.$cl-red;
  }
}