@use "../vars.scss";

.index-categories {
  overflow: hidden;
  margin-bottom: 40px;
  &__item {
    &+& {
      margin-top: 30px;

      @include vars.from('sm') {
        margin-top: 50px;
      }
    }
  }

  &__more {
    padding-top: 40px;
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: vars.$cl-black;
    text-align: center;
    border-radius: 30px;
    background-color: vars.$cl-light-blue;

    &:hover {
      box-shadow: vars.$btn-shadow;
    }
  }
}