@use './vars.scss';

body{
  font-family: 'Roboto', 'Arial', 'Open Sans', sans-serif;
  line-height: 150%;
  // background-color: vars.$accent;
  color: vars.$cl-black;
}

*{
  box-sizing: border-box;
  // outline: vars.$red;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: vars.$cl-blue;
}

h1, h2, h3, h4, p{
  margin: 0;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  transition: vars.$transition;
}

button{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: vars.$transition;
  &:focus-visible{
    outline-style: solid;
  }
}

ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 1340px;
  @include vars.from('sm') {
  }
  @include vars.from('md') {
  }
  @include vars.from('lg') {
    padding: 0;
  }
}

.main{
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
  @include vars.from('lg') {
    padding-bottom: 40px;
  }

}