@use './fonts.css';
@use './vars.scss';
@use './base.scss';
@use './pages/index.scss';
@use './pages/blog.scss';
@use './pages/detail.scss';
@use './pages/catalog.scss';
@use './pages/article.scss';
@use './pages/lk.scss';
@use './components/card.scss';
@use './components/inputs.scss';
@use './sections/header.scss';
@use './sections/footer.scss';
@use './sections/hero-slider.scss';
@use './sections/trip-list.scss';
@use './sections/trip-categories.scss';
@use './sections/stories-list.scss';
@use './sections/articles-list.scss';
@use './sections/blog-list.scss';
@use './sections/detail-preview.scss';
@use './sections/detail-descr.scss';
@use './sections/detail-aside.scss';
@use './sections/article-item-content.scss';
@use './sections/lk-aside.scss';
@use './sections/lk-content.scss';