@use './base.scss';
@use './fonts.css';
@use './vars.scss';
@use './pages/index.scss';
@use './components/card.scss';
@use './sections/header.scss';
@use './sections/footer.scss';
@use './sections/hero-slider.scss';
@use './sections/trip-list.scss';
@use './sections/trip-categories.scss';
@use './sections/articles-list.scss';
@use './sections/blog-list.scss';