@use "sass:map";

$breakpoints: (
  'xs': 320px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1400px // 'sm': 576px,
  // 'md': 768px,
  // 'lg': 992px,
  // 'xl': 1200px,
  // 'xxl': 1400px
);

@mixin from($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @content;
  }
}

@mixin until($breakpoint) {
  $value: map.get($breakpoints, $breakpoint) - 1px;

  @media (max-width: calc($value - 1px)) {
    @content;
  }
}


@mixin scroll-list() {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

$cl-black: #1b1b1b;
$cl-light-dark: #303030;
$cl-dark-80: #495560;
$cl-grey: #828282;
$cl-light-grey: #f2f2f2;
$cl-secondary-grey: #bdbdbd;
$cl-yellow: #FAD348;
$cl-blue: #2f80ed;
$cl-green: #3dc262;
$cl-border: #EBEBEB;
$cl-white: #fff;
$cl-orange: #EF7036;
$cl-red: #f54545;
$cl-input-bg: #f4f4f5;
$cl-tab: #edf4f8;

$gradient-white: linear-gradient(90deg, transparent 0%, $cl-white 60%);

$btn-shadow: 0 9px 15px 0 rgba(21, 45, 78, 0.15);
$modal-shadow: -2px 0 4px 0 rgba(38, 38, 38, 0.04);

$transition: 0.3s;

$list-gap-m: 20px;
$list-gap: 32px;